<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <properties resource="jdbc.properties"/> -->

	<!-- <typeAliases> <typeAlias alias="Student" type="com.java1234.model.Student"/> 
		</typeAliases> -->
	<typeAliases>
		<package name="com.xvkang.ssm.model" />
	</typeAliases>

</configuration>
